/*Style the body */
#center {text-align: center; font-style: inherit; color: whitesmoke;}

#border {border-style: ridge; color:white;}

h2 {font-style: oblique; color:white; text-decoration: underline;}
p {color:darkgray;}

#members {color:whitesmoke}

#songs {color:whitesmoke}

#socialmedia {text-align: center; color: violet;}
  
.jumbotron {background-color: gray}

.jumbotron h1 {color:black; text-align:center}


/*Style the image*/
  img {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
